page-list {
  button.item.item-block.item-ios {
    font-size: 16px;
  }
}
.icon-list{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  margin: auto;
  width: 35px;
  height: 30px;
}
span.span-list {
  position: absolute;
  left: 55px;
  top: 10px;
}

ion-content.bg-list.content.content-ios {
  background-color: #343434;
}
.bg-list.content.content-md{
  background-color: #343434;
}
