page-home {

}

.logo-header{
  width: 75%;
  margin-top: 10px;
}
.lang{
  background-color: transparent;
  font-size: 18px;
  color: #424143;
  position: absolute;
  right: 0;
  top: 10px;
}
ion-content.bg-home{
  background-color: #efefef;
}
.main-map{
  padding: 8px;
}
h3.text-map1{
  font-size: 24px;
  text-align: center;
}
h1.text-map2{
  font-size: 37px;
  text-align: center;
  font-weight: bold;
  line-height: 0.1;
}
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

img.img-foot{
  
}
